{{define "title"}}Add{{end}}
{{define "page-title"}}
    ADD
{{end}}
{{define "page-content"}}
    <div class="grid">
        <div id="form-container">
            <br/>
            <form hx-post="/add" hx-swap="outerHTML" hx-target="#form-container">
                <fieldset role="group">
                    <input name="title" id="title" placeholder="Enter the title of a new post" />
                    <input type="submit" value="Add Item" />
                </fieldset>
            </form>    
        </div>
    </div>
{{end}}

