{{define "title"}}Add{{end}}
{{define "page-title"}}
    ADD
{{end}}
{{define "page-content"}}
    <div>
        <div id="form-container">
            <br/>
            <form hx-post="/add" hx-swap="outerHTML" hx-target="#form-container">
                <fieldset>
                <legend>Fill all fields</legend>
                    <div class="field border label">
                        <input name="title" id="title">
                        <label>Title</label>
                    </div>
                </fieldset>
                <br/>
                <input class="button" type="submit" value="Add Item" />
            </form>    
        </div>
    </div>
{{end}}

