{{define "title"}}Home{{end}}
{{define "page-title"}}
    HOME
{{end}}
{{define "page-content"}}
    <br/> 
    <div class="overflow-auto">
        <table>
    	<tbody>
    	{{ range .Documents }}
    	    <tr>
    		<td>{{ .ID }}</td>
    		<td>{{ .Title }}</td>
    		<td>{{ .Content }}</td>
    		<td>
                    <button class="outline">Edit</button>
                    <button class="outline secondary">Delete</button>
                </td>
    	    </tr>
    	{{ end }}
    	</tbody>
        </table>
    </div>
{{end}}
