{{define "title"}}Home{{end}}
{{define "page-title"}}
    HOME
{{end}}
{{define "page-content"}}
    <br/> 
    <div>
        <table class="medium-space">
    	<tbody>
    	{{ range .Documents }}
    	    <tr>
    		<td>{{ .ID }}</td>
    		<td>{{ .Title }}</td>
    		<td>{{ .Content }}</td>
    		<td>
                    <a href="#">Edit</a>
                </td>
    		<td>
                    <a href="#">Delete</a>
                </td>
    	    </tr>
    	{{ end }}
    	</tbody>
        </table>
    </div>
{{end}}
