{{ define "content" }}
    <div>
        <table data-theme="light">
        <thead>
            <tr>
                <th scope="col">Title</td> 
                <th scope="col">Content</td> 
                <th scope="col">Options</td> 
            </tr>
        </thead>
    	<tbody>
    	{{ range .Documents }}
    	    <tr>
    		<td>{{ .Title }}</td>
    		<td>{{ .Content }}</td>
    		<td>
                    <div role="group">
                        <button class="outline contrast" hx-get="/view/{{ .ID }}" hx-target="body" hx-swap="innerHTML">View</button>
                        <button class="outline contrast" hx-get="/edit/{{ .ID }}" hx-target="body" hx-swap="innerHTML">Edit</button>
                        <button class="outline contrast" hx-get="/del/{{ .ID }}" hx-target="body" hx-swap="innerHTML">Delete</button>
                    </div>
                </td>
    	    </tr>
    	{{ end }}
    	</tbody>
        </table>
    </div>
{{ end }}

