{{ define "content" }}
    <div>
        <div id="form-container">
            {{ if .Editing }}
                <h3>Edit Record</h3>
                <form method="post">
                    <fieldset>
                        <label>
                            Document Title
                            <input name="title" id="title" value="{{ .TitleRef }}">
                        </label>
                        <label>
                            Document Content
                            <textarea name="content" rows="12">{{ .ContentRef }}</textarea>
                        </label>
                    </fieldset>
                    <div role="group">
                        <input class="button" type="submit" hx-post="/edit/{{ .IdRef }}" hx-swap="outerHTML" hx-target="#form-container" value="Save" />
                        <input type="reset">
                    </div>
                </form>    
            {{ else }}
                <form method="post">
                    <fieldset>
                        <label>
                            Document Title
                            <input name="title" id="title">
                        </label>
                        <label>
                            Document Content
                            <textarea name="content" rows="12"></textarea>
                        </label>
                    </fieldset>
                    <div role="group">
                        <input class="button" type="submit" hx-post="/add" hx-swap="outerHTML" hx-target="#form-container" value="Add Item" />
                        <input type="reset">
                    </div>
                </form>    
            {{ end }}
        </div>
    </div>
{{ end }}

