{{ define "content" }}
    <div>
        <div id="form-container">
            {{ if .Editing }}
                <h3>Edit Record</h3>
                <form hx-post="/edit/{{ .IdRef }}" hx-swap="outerHTML" hx-target="#form-container">
                    <fieldset role="group">
                        <input name="title" id="title">
                        <input class="button" type="submit" value="Add Item" />
                    </fieldset>
                </form>    
            {{ else }}
                <form hx-post="/add" hx-swap="outerHTML" hx-target="#form-container">
                    <fieldset role="group">
                        <input name="title" id="title">
                        <input class="button" type="submit" value="Add Item" />
                    </fieldset>
                </form>    
            {{ end }}
        </div>
    </div>
{{ end }}

