{{define "base"}}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <script src="https://unpkg.com/htmx.org@2.0.3" integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
    <title>Test</title>
</head>
    <body>
    <main class="container">
        <nav>
            <ul>
                <li><strong>Test</strong></li>
            </ul>
            <ul>
                <li><a href="/">Home</a></li>
                <li>
                    <button hx-get="/add" hx-target="body" hx-swap="innerHTML">Add New</button>
                </li>
            </ul>
        </nav>
        <div id="content">
            <br/> 
            {{ block "content" . }}
            {{end}}
        </div>
    </main>
    </body>
</html>
{{end}}

